<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>Botanic Garden</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}

    <div id="backgroundHome" class="h-[100vh] w-[100%] mt-5 justify-center relative flex items-center ">
        <div class="w-[100%] absolute z-[-100] inset-0 flex">
            <img src="../static/images/bgHome1.jpg" alt="" class=" object-cover" >
        </div>
        <div class="absolute w-full h-[100vh] z-[100] inset-0" style="background-color: rgba(0, 0,0, 0.5);">
            
        </div>
        <div  class="w-full text-center absolute z-[100]">
            <h1 class="text-5xl text-white mt-1">A community to Buy, Sell, & Discover the Magic of Plants</h1>
            <a href="/plants"><button id="shopnow" class="bg-[#4ECB71] text-white p-2 rounded hover:animate-bounce transition-all duration-[0.45s] mt-10 mr-10 h-10 w-40">Shop Now</button> </a>
        </div>
    </div>


    

    <div id="aboutBotanic" class="my-[7rem] items-center">
        <div class="text-center text-5xl">
            <h1>Why Botanic Garden??</h1>
           
        </div>
        <div class="mt-20 ml-[9rem] flex justify-around items-center w-[80%] ">
            <div class="w-[20rem] text-center ">
                <img src="../static/images/pic1.svg" alt="" class="ml-[6rem] mb-5">
                <p class="">Unbeatable quality We source directly from top-rated growers, so we can sell the finest quality plants at the very best prices.</p>
            </div>
            <div class="w-[20rem] text-center ">
                <img src="../static/images/pic2.svg" alt="" class="ml-[6rem] mb-5">
                <p class="">Delivery to your door We’ll bring your plants to your door, anywhere in GB. If you’re not 100% happy, tell us within 30 days and we’ll sort it. </p>
            </div>
            <div class="w-[20rem] text-center ">
                <img src="../static/images/pic3.svg" alt="" class="ml-[6rem] mb-5">
                <p class="">All the help you need We’ll send you a free plant-parenting course and our plant doctors are always on call.</p>
            </div>
        </div>
    </div>

    <div id="container2">
        <div class="flex justify-between w-[80%] ml-[13rem]">
            <div class="w-[70%]">
                <img src="../static/images/outdoor.svg" alt="" class=" ">
            </div>
            <div class="pl-[12rem] pt-[6rem] flex-col items-center justify-around w-[65%]">
                <div class="">
                    <h1 class="text-4xl text-[#313232]">Outdoor plants</h1>
                </div> 
                <div> 
                    <p class="mt-10 w-[90%]">Spring is here. Choose from our easy outdoor range and turn that sun spot into a leafy paradise.</p>
                </div>
                <button id="shopnow" class="bg-[#4ECB71] text-white p-2 rounded hover:animate-bounce transition-all duration-[0.45s] mt-10 mr-10 h-10 w-40">Shop Outdoor</button>
            </div>
            
        </div>
    </div>

    <div id="container3" class="mt-20 mb-20">
        <div class="flex justify-between w-[80%] ml-[13rem]">
            
            <div class="pr-[12rem] pt-[6rem] flex-col items-center justify-around w-[65%]">
                <div class="">
                    <h1 class="text-4xl text-[#313232]">Indoor plants</h1>
                </div> 
                <div> 
                    <p class="mt-10 w-[90%]">Dont have space for a garden? Choose from our easy indoor range and turn your house into a leafy paradise.</p>
                </div>
                <button id="shopnow" class="bg-[#4ECB71] text-white p-2 rounded hover:animate-bounce transition-all duration-[0.45s] mt-10 mr-10 h-10 w-40">Shop Indoor</button>
            </div>
            <div class="w-[70%]">
                <img src="../static/images/indoor.svg" alt="" class="">
            </div>
        </div>
    </div>

    <div id="feedback" class="mt-[7rem] mb-20">
        <div class="text-center text-5xl">
            <h1>Customer Feedback</h1>
        </div>
        <div class="mt-[3rem] ml-[6rem] flex justify-around items-center w-[90%] gap-3" >
            <div class="w-[20rem] text-center h-[22rem] pt-[1rem]"  style="box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;">
                <img src="../static/images/customer4.svg" alt="" class="ml-[6rem] mb-5">
                <p class="">I was amazed by the wide variety of plants available on your website. From rare specimens to common favorites, you have it all. It's a plant lover's paradise!</p>
                <div>
                    <p class="my-5">Sarsawoti Khadka</p>
                </div>
            </div>
            <div class="w-[20rem] text-center h-[22rem] pt-[1rem]" style="box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;">
                <img src="../static/images/customer2.svg" alt="" class="ml-[6rem] mb-5">
                <p class="">The plants I received were in perfect condition. They were so healthy and vibrant, which is a testament to your team's care and attention to detail.</p>
                <div>
                    <p class="mb-5 mt-12">Geeta Maharjan</p>
                </div>
            </div>
            <div class="w-[20rem] text-center h-[22rem] pt-[1rem]" style="box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;">
                <img src="../static/images/customer1.svg" alt="" class="ml-[6rem] mb-5">
                <p class="">I was pleasantly surprised by how quickly my order arrived. The plants were well-packaged to ensure they arrived in pristine condition.</p>
                <div>
                    <p class="mb-5 mt-12">Chimarayanabu Dongol</p>
                </div>
            </div>
            <div class="w-[20rem] text-center h-[22rem] pt-[1rem]" style="box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;">
                <img src="../static/images/customer4.svg" alt="" class="ml-[6rem] mb-5">
                <p class="">My plant is beautiful and healthy. It was packaged with great care and delivered safely and promptly. Great service!</p>
                <div>
                    <p class="mb-5 mt-12">Sarsawoti Khadka</p>
                </div>
            </div>
        </div>
    </div>
    

    

    {% comment %} <div>
        <a href="{% url 'logout' %}"><button id="logout" class="bg-[#4ECB71] text-white p-2 rounded hover:animate-bounce transition-all duration-[0.45s] mt-10 mr-10 h-10 w-40">Logout</button> </a>
    </div> {% endcomment %}

{% endblock %}
</body>
</html>