<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>Botanic Garden</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}

    <div id="backgroundHome" class="h-[100vh] w-[100%] mt-5 justify-center relative flex items-center ">
        <div class="w-[100%] absolute z-[-100] inset-0 flex">
            <img src="../static/images/bgHome1.jpg" alt="" class="w-full" >
        </div>
        <div class="absolute w-full h-[100vh] z-[100] inset-0" style="background-color: rgba(0, 0,0, 0.5);">
            
        </div>
        <div  class="w-full text-center absolute z-[100]">
            <h1 class="text-5xl text-white mt-1">A community to Buy, Sell, & Discover the Magic of Plants</h1>
            <a href="/plants"><button id="shopnow" class="bg-[#4ECB71] text-white p-2 rounded hover:animate-bounce transition-all duration-[0.45s] mt-10 mr-10 h-10 w-40">Shop Now</button> </a>
        </div>
    </div>


{% endblock %}
</body>
</html>